.main{
    display: flex;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
}
.main-container form{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
textarea{
    width: 400px;
}
.amount{
    display: flex;
    justify-content: center;
}
input[type=number]{
    margin: 10px 0 10px 0;
    width: 100px;
}
.list{
    margin-left: 1450px;
}

.dot-loading{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.dot-loading > div{
    height: 24px;
    width: 24px;
    background: #FC5185;
    border-radius: 50%;
    animation: 1.5s bounce infinite ease;
}
.dot-loading .dot2{
    animation-delay: 150ms;
}
.dot-loading .dot3{
    animation-delay: 300ms;
}

@keyframes bounce {
    0%,80%,100%{
        transform: scale(0);
        background: #3FC1C9;
    }
    40%{
        background: #FC5185;
        transform: scale(1);
    }
}